# This is Git's per-user configuration file.
[user]
    name = TED Vortex
    email = ted.vortex@gmail.com
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    su = submodule foreach --recursive git pull origin master
    sm = submodule update --remote --merge
    numstat = diff --numstat
    shortstat = diff --shortstat
    ns = numstat HEAD~
    ss = shortstat HEAD~
[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[github]
    user = 0-vortex
