"*":
  "atom-beautify":
    js:
      default_beautifier: "ESLint Fixer"
    json:
      default_beautifier: "Prettier"
  "city-lights-ui": {}
  core:
    disabledPackages: [
      "metrics"
      "spell-check"
      "welcome"
      "atom-beautify"
      "markdown-preview-enhanced"
    ]
    telemetryConsent: "no"
    themes: [
      "dash-ui"
      "seti-syntax"
    ]
  "dash-ui":
    themeColor: "Orange"
  editor:
    fontFamily: "Jetbrains Mono, Oxygen, monospace"
    fontSize: 16
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "30e5fbf2-e11a-4700-ac10-2569b21c4798"
  "file-icons":
    onChanges: true
  "git-plus":
    tags:
      signTags: true
  "isotope-ui":
    backgroundGradient: true
    fontFamily: "Oxygen"
    lowContrastTooltip: true
    matchEditorFont: true
    minimalMode: true
  "markdown-preview": {}
  "markdown-preview-enhanced":
    mermaidTheme: "dark"
    previewTheme: "github-dark.css"
    revealjsTheme: "solarized.css"
    scrollSync: false
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  "project-plus":
    newWindow: true
    showPath: true
  "seti-ui":
    compactView: true
    disableAnimations: true
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
  welcome:
    showOnStartup: false
".graphql.source":
  editor:
    softWrapAtPreferredLineLength: true
