prefix=/Users/tedvortex/.npm-global
progress=false
loglevel=info
username=vrtxf
email=rodoeted@yahoo.com
optional=false
audit=false
timing=false
long=false
//npm-registry.xogito.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJkaXN0aWxsMSIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJuYW1lIjoiZGlzdGlsbDEiLCJncm91cHMiOlsiZGlzdGlsbDEiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJkaXN0aWxsMSIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJpYXQiOjE1OTc4NjA1MjksIm5iZiI6MTU5Nzg2MDUyOSwiZXhwIjoxNjI4OTY0NTI5fQ.PHniQhOjXyeBOfz36u3JwHHiWtRZ66DNs1bohuvw1vo
