[user]
  name = TED Vortex
  email = ted.vortex@gmail.com
  signinkey = 3A7C3F2DF91FB476
[alias]
  # List aliases
  aliases = config --get-regexp alias
  s = status -s
  c = clone --recursive
  lg = log --graph --abbrev-commit --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  su = submodule foreach --recursive git pull origin master
  sm = submodule update --remote --merge
  numstat = diff --numstat
  shortstat = diff --shortstat
  ns = numstat HEAD~
  ss = shortstat HEAD~
  contributors = shortlog --summary --numbered
	fame = !python3 -m gitfame
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
[core]
  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  whitespace = blank-at-eol,blank-at-eof,tab-in-indent,-space-before-tab
  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore_global
	editor = atom-beta --wait
	autocrlf = input
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[github]
  user = 0-vortex
[commit]
  gpgsign = true
  template = ~/.conventional-commit
[credential]
  helper = osxkeychain
[merge]
	tool = atom
	summary = true
[status]
	submodulesummary = 1
[diff "plist"]
	textconv = plutil -convert xml1 -o -
[help]
	autocorrect = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gc]
  auto = 1
